@page "/"
@inject NavigationManager NavigationManager
<h1>Hello, world!</h1>
<div class="d-flex " style="width:100%">

    <button type="button" class="btn btn-primary  btn-lg" @onclick="NavigateLaba10">Laba10</button>
    <button  type="button" class="btn btn-primary  btn-lg ms-3" @onclick="NavigateLaba11">Laba11</button>
</div>

@code {
    void NavigateLaba10()
    {
        NavigationManager.NavigateTo("Laba10");
    }
    void NavigateLaba11()
    {
        NavigationManager.NavigateTo("Laba11");
    }
}
